
body{
  background-color: grey;
}

#drawboard{
  cursor: crosshair;
  display: block;
  margin: 0 auto;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  background-color: white;
}

#button{
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 50px;
}
