/*body section-----------------------------------------------------*/
body{
    background-color:#27282c;
    width: 100%;
}

h1{
    color: #fee1c7;
    font-family:"Montserrat";
    display: block;
    margin: 0 auto;
    text-align: center;
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #footerdiv{
    background-color: #f44174;
    border-color: #f44174;
    color: #fee1c7;
  
    font-family:"Montserrat";
    font-weight: bolder;
  
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom:10px;
    margin-top: 15px;
    margin-left: -8px;
    margin-bottom: -8px;
    width: 100%;
  
    clear: both;
    height: 30px;

    position: fixed;
    bottom: 0px;
  }

  #hearticon{
    width: 15px;
  }
  
  #redbullicon{
    width: 50px;
    float: right;
    margin-right: 30px;
    margin-top: -5px;
  }
  
  #dumbassicon{
    width: 90px;
    float: right;
    margin-right: 15px;
    margin-top: -5px;
  }
  
  #scotlandicon{
    width: 50px;
    float: right;
    margin-right: 15px;
    margin-top: -5px;
  }
  
  #bedmcicon{
    width: 76px;
    float: right;
    margin-right: 15px;
    margin-top: -5px;
  }